
@* @model IEnumerable<Admin.Models.THoaDonBan> *@
@using WebBanDienThoai.Models.ViewModels;
@model InvoiceOutListViewModel;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="backgr-color" style="background-color: white; padding-top: 10px; border-radius: 5px; box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);">
    <div>
        <h1 class="invoiceOut-list">DANH SÁCH HÓA ĐƠN BÁN</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Mã đơn hàng
                    </th>
                    <th>
                        Ngày bán
                    </th>
                    <th>
                        Khách hàng
                    </th>
                    <th>
                        Tổng tiền
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InvoiceOut)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoHdb)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoHdbNavigation.NgayBan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoHdbNavigation.MaKhNavigation.Hoten)
                        </td>
                        @* <td>
                    @Html.DisplayFor(modelItem => item.Slban)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.KhuyenMai)
                    </td> *@
                        <td>
                            @Html.DisplayFor(modelItem => item.SoHdbNavigation.TongHdb)
                        </td>


                        <td>

                            @Html.ActionLink("Chi tiết","Index", "TChiTietHdbs", new { id = item.SoHdb})
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
       

         <ul class="pagination justify-content-end" style="float: right; width: 50%; margin-right: 15px;">
            <li class="page-item"><a class="page-link" href="~/ThoaDonBans/?productPage=productPage-1">Previous</a></li>

            @for (int i = 1; i <= Model.PagingInfo.totalPage; i++)
            {
                <li class="page-item"><a class="page-link" href="~/THoaDonBans/?productPage=@i">@i</a></li>
            }

            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</div>

@section Paginate{
    <script>
        function loadPage(page, pageSize){
            $.ajax({
                url: '/THoaDonBanController/Index',
                data: {page: page, pageSize: pageSize },
                success: function (data) {
                    $('content').html(data);
                },
                error: function () {
                    alert('Có lõi xảy ra khi tải trang.')
                }
            })
        }
    </script>
}


<style>
    .btn {
        float: left;
        margin-left: 15px;
    }

    .invoiceOut-list {
        margin-top: revert-layer;
        text-align: center;
        font-size: 2rem;
    }
</style>