@model IEnumerable<WebBanDienThoai.Models.THoaDonNhap>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Số hóa đơn nhập
            </th>
            <th>
                Tên nhà cung cấp
            </th>
            <th>
                Thời gian nhập
            </th>
            <th>
                Tổng tiền
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoHdn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNccNavigation.TenNcc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhap)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongHdn)
                </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.SoHdn">Edit</a> | *@
                @* <a asp-action="Details" asp-route-id="@item.SoHdn">Details</a> | *@
                @* <a asp-action="Delete" asp-route-id="@item.SoHdn">Delete</a> *@
                    @* <a href="@Url.Action("Index","TChiTietHdns")" asp-route-id="@item.SoHdn">Details</a> *@
                    @Html.ActionLink("Chi tiết", "Index", "TChiTietHdns", new { id = item.SoHdn }) |
                    <a asp-action="Delete" asp-route-id="@item.SoHdn">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create">Create New</a>
</p>
