@model WebBanDienThoai.Models.TSp

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TSp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGiaNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGiaNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGiaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaSp">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
