@model WebBanDienThoai.Models.TSp

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<body>
    <div class="backgr-color" style="background-color: white; padding-top: 10px; border-radius: 5px; box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);">
        <h1 class="product-detail">Chi tiết sản phẩm</h1>

        <hr />

        <dl class="row">
            <dt class="col-sm-2">
                Mã sản phẩm
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaSp)
            </dd>
            <dt class="col-sm-2">
                Tên sản phẩm
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TenSp)
            </dd>
            <dt class="col-sm-2">
                Đơn giá nhập
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DonGiaNhap)
            </dd>
            <dt class="col-sm-2">
                Đơn giá bán
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DonGiaBan)
            </dd>
            <dt class="col-sm-2">
                Số lượng
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SoLuong)
            </dd>
            <dt class="col-sm-2">
                Ảnh
            </dt>
            <dd class="col-sm-10">
                <img src="~/api/image/@Html.DisplayFor(model => model.Anh)" width="100px" />
            </dd>
            <dt class="col-sm-2">
                Mã hãng
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaHang)
            </dd>
            <dt class="col-sm-2">
                Tên hãng
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaHangNavigation.TenHang)
            </dd>
            <dt class="col-sm-2">
                Mã thể loại
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaTl)
            </dd>
            <dt class="col-sm-2">
                Tên thể loại
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaTlNavigation.TenTl)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.MaSp" class="btn btn-primary">Sửa</a>
        <a asp-action="Index" class="btn btn-primary">Quay lại</a>
    </div>
</body>
<style>
    .product-detail {
        margin-top: revert-layer;
        text-align: center;
        font-size: 2rem;
    }

    .backgr-color .row {
        margin-left: 10px;
    }
</style>