@using WebBanDienThoai.Models.ViewModels;
@model ProductListViewModel
@* @model IEnumerable<Admin.Models.TSp> *@


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}



@* <h2>QUẢN LÝ SẢN PHẨM/Sản phẩm</h2> *@
<div class="backgr-color" style="background-color: white; padding-top: 10px; border-radius: 5px; box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);">
    <h1 class="product-list">DANH sÁCH SẢN PHẨM</h1>
    @*  <hr />
    <div class="search-wrapper">
    <i class="search-icon-wrapper typcn typcn-zoom-outline"></i>
    <input type="text" placeholder="Search...">
    </div> *@
    <hr />
    <div class="table-responsive">
        <div id="content">
            <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
                <thead>
                    <tr>
                        <th>
                            Mã sản phẩm
                        </th>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Đơn giá nhập
                        </th>
                        <th>
                            Đơn giá bán
                        </th>
                        <th>
                            Số lượng
                        </th>
                        <th>
                            Ảnh
                        </th>
                        <th>
                            Tên hãng
                        </th>
                        <th>
                            Tên thể loại
                        </th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaSp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenSp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DonGiaNhap)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DonGiaBan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoLuong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Anh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaHangNavigation.TenHang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaTlNavigation.TenTl)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.MaSp">Sửa</a> |
                                <a asp-action="Details" asp-route-id="@item.MaSp">Chi tiết</a> |
                                <a asp-action="Delete" asp-route-id="@item.MaSp">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr />
        <a asp-action="Create" class="btn btn-primary">Thêm mới</a>



        @* <ul class="pagination justify-content-end" style="float: right; width: 50%; margin-right: 15px;">
        <li class="page-item">
        @if (Model.PagingInfo.currentPage == 1)
        {
        <a class="page-link disabled" href="~/TSps/?productPage=@(Model.PagingInfo.currentPage - 1)">Previous</a>
        }
        else
        {
        <a class="page-link" href="~/TSps/?productPage=@(Model.PagingInfo.currentPage - 1)">Previous</a>
        }
        </li>

        @for (int i = 1; i <= Model.PagingInfo.totalPage; i++)
        {
        <li class="page-item"><a class="page-link" href="~/TSps/?productPage=@i">@i</a></li>
        }

        <li class="page-item">
        @if (Model.PagingInfo.currentPage == Model.PagingInfo.totalPage)
        {
        <a class="page-link disabled" href="~/TSps/?productPage=@(Model.PagingInfo.currentPage + 1)">Next</a>
        }
        else
        {
        <a class="page-link" href="~/TSps/?productPage=@(Model.PagingInfo.currentPage + 1)">Next</a>
        }
        </li>
        </ul> *@

        @* <div id="content"> *@
        <ul class="pagination justify-content-end" style="float: right; width: 50%; margin-right: 15px;">
            <li class="page-item">
                @if (Model.PagingInfo.currentPage == 1)
                {
                    <a class="page-link disabled" href="~/TSps/?productPage=@(Model.PagingInfo.currentPage - 1)">Previous</a>
                }
                else
                {
                    <a class="page-link" href="~/TSps/?productPage=@(Model.PagingInfo.currentPage - 1)">Previous</a>
                }
            </li>

            @for (int i = 1; i <= Model.PagingInfo.totalPage; i++)
            {
                <li class="page-item @(i == Model.PagingInfo.currentPage ? "active" : "")">
                    <a class="page-link" href="~/TSps/?productPage=@i" style="cursor: pointer">@i</a>
                </li>
            }

            <li class="page-item">
                @if (Model.PagingInfo.currentPage == Model.PagingInfo.totalPage)
                {
                    <a class="page-link disabled" href="~/TSps/?productPage=@(Model.PagingInfo.currentPage + 1)">Next</a>
                }
                else
                {
                    <a class="page-link" href="~/TSps/?productPage=@(Model.PagingInfo.currentPage + 1)">Next</a>
                }
            </li>
        </ul>
        @* </div> *@

    </div>
</div>

<div style="margin-top: 30px;">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="card-shadow-primary mb-3 widget-chart widget-chart2 text-left card">
                        <div class="widget-chat-wrapper-outer">
                            <div class="widget-chart-content">
                                <h6 class="widget-subheading">
                                    Tổng số lượng sản phẩm
                                </h6>
                                <div class="widget-chart-flex">
                                    <div class="widget-numbers mb-0 w-100">
                                        <div class="widget-chart-flex">
                                            <div class="fsize-4">
                                                <small class="opacity-5">$</small>
                                                @ViewBag.TotalProduct
                                            </div>
                                            <div class="ml-auto">
                                                <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                                    <span class="text-success pl-2">+14%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card-shadow-primary mb-3 widget-chart widget-chart2 text-left card">
                        <div class="widget-chat-wrapper-outer">
                            <div class="widget-chart-content">
                                <h6 class="widget-subheading">Tổng lượng sản phẩm đã bán</h6>
                                <div class="widget-chart-flex">
                                    <div class="widget-numbers mb-0 w-100">
                                        <div class="widget-chart-flex">
                                            <div class="fsize-4 text-danger">
                                                <small class="opacity-5 text-muted">
                                                    $
                                                </small> @ViewBag.ProductSold
                                            </div>
                                            <div class="ml-auto">
                                                <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                                    <span class="text-danger pl-2">
                                                        <span class="pr-1">
                                                            <i class="fa fa-angle-up"></i>
                                                        </span> 8%
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card-shadow-primary mb-3 widget-chart widget-chart2 text-left card">
                        <div class="widget-chat-wrapper-outer">
                            <div class="widget-chart-content">
                                <h6 class="widget-subheading">Tổng tiền nhập hàng</h6>
                                <div class="widget-chart-flex">
                                    <div class="widget-numbers mb-0 w-100">
                                        <div class="widget-chart-flex">
                                            <div class="fsize-4">
                                                <span class="text-success pr-2">
                                                    <i class="fa fa-angle-down"></i>
                                                </span>
                                                <small class="opacity-5">$</small> @ViewBag.TotalMoney
                                            </div>
                                            <div class="ml-auto">
                                                <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                                    <span class="text-success pl-2">
                                                        <span class="pr-1">
                                                            <i class="fa fa-angle-down"></i>
                                                        </span> 15%
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card-shadow-primary mb-3 widget-chart widget-chart2 text-left card">
                        <div class="widget-chat-wrapper-outer">
                            <div class="widget-chart-content">
                                <h6 class="widget-subheading">Doanh thu</h6>
                                <div class="widget-chart-flex">
                                    <div class="widget-numbers mb-0 w-100">
                                        <div class="widget-chart-flex">
                                            <div class="fsize-4">
                                                <small class="opacity-5">$</small> @ViewBag.Revenue
                                            </div>
                                            <div class="ml-auto">
                                                <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                                    <span class="text-warning pl-2">+76%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5">
            <div class="mb-3 card">
                <div class="card-body">
                    <div class="widget-chart widget-chart2 text-left p-0">
                        <div class="widget-chat-wrapper-outer">
                            <div class="widget-chart-content">
                                <div class="widget-chart-flex">
                                    <div class="widget-numbers mt-0">
                                        <div class="widget-chart-flex">
                                            <div>
                                                <small class="opacity-5">$</small>
                                                <span>@ViewBag.Profit</span>
                                            </div>
                                            <div class="widget-title ml-2 opacity-5 font-size-lg text-muted">
                                                Lợi nhuận
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                                <div id="dashboard-sparkline-carousel-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="p-0 card-body card-body-1">
            <div class="p-1 slick-slider-sm mx-auto">
                <div class="slick-slider">
                    <div>
                        <div class="slick-prev slick-arrow">
                            <i class="fa fa-angle-left" typeof="button"></i>
                        </div>
                        @* <button class="slick-prev slick-arrow" aria-label="Preivous" type="button"><i class="fa fa-angle-left"></i></button> *@
                        <div class="widget-chart widget-chart2 text-left p-0">
                            <div class="widget-chat-wrapper-outer">
                                <div class="widget-chart-content widget-chart-content-lg pb-0">
                                    <div class="widget-chart-flex">
                                        <div class="widget-title opacity-5 text-muted text-uppercase">
                                            New Accounts since 2018
                                        </div>
                                    </div>
                                    <div class="widget-numbers">
                                        <div class="widget-chart-flex">
                                            <div>
                                                <span class="opacity-10 text-success pr-2">
                                                    <i class="fa fa-angle-up"></i>
                                                </span>
                                                <span>78</span>
                                                <small class="opacity-5 pl-1">
                                                    %
                                                </small>
                                            </div>
                                            <div class="widget-title ml-2 font-size-lg font-weight-normal text-muted">
                                                <span class="text-success pl-2">+14</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* <div class="widget-chart-wrapper he-auto opacity-10 m-0">
                                <div id="dashboard-sparkline-3"></div>
                                </div> *@
                            </div>
                        </div>
                        <button class="slick-prev slick-arrow" aria-label="Next" type="button"><i class="fa fa-angle-right"></i></button>
                    </div>
                    <div>
                        <div class="widget-chart widget-chart2 text-left p-0">
                            <div class="widget-chat-wrapper-outer">
                                <div class="widget-chart-content widget-chart-content-lg pb-0">
                                    <div class="widget-chart-flex">
                                        <div class="widget-title opacity-5 text-muted text-uppercase">
                                            Last Year Total Sales
                                        </div>
                                    </div>
                                    <div class="widget-numbers">
                                        <div class="widget-chart-flex">
                                            <div>
                                                <small class="opacity-3 pr-1">
                                                    $
                                                </small>
                                                <span>629</span>
                                                <span class="text-primary pl-3">
                                                    <i class="fa fa-angle-down"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-chart-wrapper he-auto opacity-10 m-0">
                                    <div id="dashboard-sparkline-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="widget-chart widget-chart2 text-left p-0">
                            <div class="widget-chat-wrapper-outer">
                                <div class="widget-chart-content widget-chart-content-lg pb-0">
                                    <div class="widget-chart-flex">
                                        <div class="widget-title opacity-5 text-muted text-uppercase">
                                            Helpdesk Tickets
                                        </div>
                                    </div>
                                    <div class="widget-numbers">
                                        <div class="widget-chart-flex">
                                            <div>
                                                <span class="text-warning">34</span>
                                            </div>
                                            <div class="widget-title ml-2 font-size-lg font-weight-normal text-dark">
                                                <span class="opacity-5 text-muted pl-2 pr-1">5%</span> increase
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-chart-wrapper he-auto opacity-10 m-0">
                                    <div id="dashboard-sparkline-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h6 class="text-muted text-uppercase font-size-md opacity-5 pl-3 pr-3 pb-1 font-weight-normal">
                Sales Progress
            </h6>
            <ul class="list-group list-group-flush">
                <li class="p-3 bg-transparent list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">
                                        Total Orders
                                    </div>
                                    <div class="widget-subheading">
                                        Last year expenses
                                    </div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-success">
                                        <small>$</small> 1896
                                    </div>
                                </div>
                            </div>
                            <div class="widget-progress-wrapper">
                                <div class="progress-bar-sm progress-bar-animated-alt progress">
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100" style="width: 43%;"></div>
                                </div>
                                <div class="progress-sub-label">
                                    <div class="sub-label-left">YoY Growth</div>
                                    <div class="sub-label-right">100%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-xl-4">
            <div class="mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                        <i class="header-icon fa fa-laptop mr-3 text-muted opacity-6"> </i>Sản phẩm bán chạy nhất
                    </div>

                </div>
                <div class="widget-chart widget-chart2 text-left p-0">
                    <div class="widget-chat-wrapper-outer">
                        <div class="widget-chart-content widget-chart-content-lg">
                            <div class="widget-chart-flex">
                                <div class="widget-title opacity-5 text-muted text-uppercase">
                                    @ViewBag.TopProduct
                                </div>
                            </div>
                            <div class="widget-numbers">
                                <div class="widget-chart-flex">
                                    <div>
                                        <span class="opacity-10 text-warning pr-2">
                                            <i class="fa fa-dot-circle"></i>
                                        </span>
                                        <span>$@ViewBag.TotalSales</span>
                                    </div>
                                    <div class="widget-title ml-2 font-size-lg font-weight-normal text-muted">
                                        <span class="text-success pl-2">+14</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="pt-2 pb-0 card-body">
                    <h6 class="text-muted text-uppercase font-size-md opacity-9 mb-2 font-weight-normal">
                        Top Performing
                    </h6>
                    <div class="scroll-area-md shadow-overflow">
                        <div class="scrollbar-container">
                            <ul class="rm-list-borders rm-list-borders-scroll list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="icon-wrapper m-0">
                                                    <div class="progress-circle-wrapper">
                                                        <div class="progress-circle-wrapper">
                                                            <div class="circle-progress circle-progress-gradient">
                                                                <small></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">
                                                    Asus Laptop
                                                </div>
                                                <div class="widget-subheading mt-1 opacity-10">
                                                    <div class="badge badge-pill badge-dark">
                                                        $152
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="fsize-1 text-focus">
                                                    <small class="opacity-5 pr-1">
                                                        $
                                                    </small>
                                                    <span>752</span>
                                                    <small class="text-warning pl-2">
                                                        <i class="fa fa-angle-down"></i>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="icon-wrapper m-0">
                                                    <div class="progress-circle-wrapper">
                                                        <div class="progress-circle-wrapper">
                                                            <div class="circle-progress circle-progress-danger">
                                                                <small></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">
                                                    Dell Inspire
                                                </div>
                                                <div class="widget-subheading mt-1 opacity-10">
                                                    <div class="badge badge-pill badge-dark">
                                                        $53
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="fsize-1 text-focus">
                                                    <small class="opacity-5 pr-1">
                                                        $
                                                    </small>
                                                    <span>587</span>
                                                    <small class="text-danger pl-2">
                                                        <i class="fa fa-angle-up"></i>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="icon-wrapper m-0">
                                                    <div class="progress-circle-wrapper">
                                                        <div class="progress-circle-wrapper">
                                                            <div class="circle-progress circle-progress-primary">
                                                                <small></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">
                                                    Lenovo IdeaPad
                                                </div>
                                                <div class="widget-subheading mt-1 opacity-10">
                                                    <div class="badge badge-pill badge-dark">
                                                        $239
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="fsize-1 text-focus">
                                                    <small class="opacity-5 pr-1">
                                                        $
                                                    </small>
                                                    <span>163</span>
                                                    <small class="text-muted pl-2">
                                                        <i class="fa fa-angle-down"></i>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="icon-wrapper m-0">
                                                    <div class="progress-circle-wrapper">
                                                        <div class="progress-circle-wrapper">
                                                            <div class="circle-progress circle-progress-info">
                                                                <small></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">
                                                    Asus Vivobook
                                                </div>
                                                <div class="widget-subheading mt-1 opacity-10">
                                                    <div class="badge badge-pill badge-dark">
                                                        $21
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="fsize-1 text-focus">
                                                    <small class="opacity-5 pr-1">
                                                        $
                                                    </small> 653
                                                    <small class="text-primary pl-2">
                                                        <i class="fa fa-angle-up"></i>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="icon-wrapper m-0">
                                                    <div class="progress-circle-wrapper">
                                                        <div class="progress-circle-wrapper">
                                                            <div class="circle-progress circle-progress-warning">
                                                                <small></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">
                                                    Apple Macbook
                                                </div>
                                                <div class="widget-subheading mt-1 opacity-10">
                                                    <div class="badge badge-pill badge-dark">
                                                        $381
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="fsize-1 text-focus">
                                                    <small class="opacity-5 pr-1">
                                                        $
                                                    </small> 629
                                                    <small class="text-muted pl-2">
                                                        <i class="fa fa-angle-up"></i>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="icon-wrapper m-0">
                                                    <div class="progress-circle-wrapper">
                                                        <div class="progress-circle-wrapper">
                                                            <div class="circle-progress circle-progress-dark">
                                                                <small></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">
                                                    HP Envy 13"
                                                </div>
                                                <div class="widget-subheading mt-1 opacity-10">
                                                    <div class="badge badge-pill badge-dark">
                                                        $74
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="fsize-1 text-focus">
                                                    <small class="opacity-5 pr-1">
                                                        $
                                                    </small> 462
                                                    <small class="text-muted pl-2">
                                                        <i class="fa fa-angle-down"></i>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="border-bottom-0 list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="icon-wrapper m-0">
                                                    <div class="progress-circle-wrapper">
                                                        <div class="progress-circle-wrapper">
                                                            <div class="circle-progress circle-progress-alternate">
                                                                <small></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">
                                                    Gaming Laptop HP
                                                </div>
                                                <div class="widget-subheading mt-1 opacity-10">
                                                    <div class="badge badge-pill badge-dark">
                                                        $7
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="fsize-1 text-focus">
                                                    <small class="opacity-5 pr-1">
                                                        $
                                                    </small> 956
                                                    <small class="text-success pl-2">
                                                        <i class="fa fa-angle-up"></i>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-block text-center rm-border card-footer">
                    <button class="btn btn-primary">
                        View all participants
                        <span class="text-white pl-2 opacity-3">
                            <i class="fa fa-arrow-right"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@* <p> *@
@* </p> *@
<style>
    .btn {
        float: left;
        margin-left: 15px;
    }

    .product-list {
        margin-top: revert-layer;
        text-align: center;
        font-size: 2rem;
    }

    a.disabled {
        pointer-events: none;
        cursor: default;
    }

    .card-body-1 {
        width: 60%;
        margin-left: 20px;
    }
</style>

@section Paginate{
    <script>
        function loadPage(page, pageSize) {
            $.ajax({
                url: '/TSps/Index',
                data: { page: page, pageSize: pageSize },
                success: function (data) {
                    $('#content').html(data);
                },
                error: function () {
                    alert('Có lỗi xảy ra khi tai trang.');
                }

            });
        }
    </script>
}