@model IEnumerable<WebBanDienThoai.Models.TSp>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaTl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGiaNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaTl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGiaNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaSp">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSp">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
