@model IEnumerable<WebBanDienThoai.Models.THang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<<h3> Danh mục hãng</h3>

<p>
    <button type="button" class="btn btn-info"><a asp-action="Create">Thêm mới</a></button>

</p>
<table class="table">
    <thead>
        <tr class="table">
            <th>
                Mã hãng
            </th>
            <th>
                Tên hãng
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.MaHang)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenHang)
                </td>
                <td>
                   @*  <button type="button" class="btn btn-success"> <a asp-action="Edit" asp-route-id="@item.MaHang">Sửa</a></button>
                    <button type="button" class="btn btn-light"> <a asp-action="Delete" asp-route-id="@item.MaHang">Xoá</a></button>
 *@
                    <button class="btn btn-success">
                        @Html.ActionLink("Sửa", "Edit", new { id = item.MaHang}, new { @style = "color:white;" })
                    </button>
                  @*   <button class="btn btn-primary">
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.MaHang }, new { @style = "color:white;" })
                    </button> *@
                    <button class="btn btn-danger">
                        @Html.ActionLink("Xóa", "Delete", new { id = item.MaHang }, new { @style = "color:white;" })
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
