@model WebBanDienThoai.Models.TChiTietHdn

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TChiTietHdn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slnhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slnhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhuyenMai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhuyenMai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSpNavigation.MaSp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoHdnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoHdnNavigation.SoHdn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SoHdn" />
        <input type="hidden" asp-for="MaSp" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to list", "Index", new { id = Model.SoHdn})
    </form>
</div>
