@model IEnumerable<WebBanDienThoai.Models.TChiTietHdn>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Thêm chi tiết hóa đơn", "Create", new { id= ViewBag.SoHdn })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Nhà cung cấp
            </th>
            <th>
                Khuyến mãi
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSpNavigation.TenSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slnhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoHdnNavigation.MaNccNavigation.TenNcc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhuyenMai)
            </td>
            
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SoHdn, maSp = item.MaSp }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SoHdn, maSp = item.MaSp }) 
            </td>
        </tr>
}
    </tbody>
</table>
@Html.ActionLink("Về danh sách hóa đơn", "Index", "THoaDonNhaps") 