@model WebBanDienThoai.Models.ViewModels.SignupViewModel


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Đăng ký</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    @*   <meta name="description" content="Kero HTML Bootstrap 4 Dashboard Template"> *@

    <meta name="msapplication-tap-highlight" content="no">
    <link href="~/SignUp/main.07a59de7b920cd76b874.css" rel="stylesheet">
</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100 bg-premium-dark">
                <div class="d-flex h-100 justify-content-center align-items-center">
                    <div class="mx-auto app-login-box col-md-8">
                        <div class="modal-dialog w-100">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h5 class="modal-title">
                                        <h4 class="mt-2">
                                            <div>Xin chào,</div>
                                            <span>Chỉ mất <span class="text-success">vài giây</span> để đăng ký tài khoản của bạn</span>
                                        </h4>
                                    </h5>
                                    <div class="divider row"></div>
                                    @using (Html.BeginForm("Index", "SignUp", FormMethod.Post))
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    @Html.TextBoxFor(t => t.email, new { placeholder = "Email ...", @class = "form-control" })
                                                    @Html.ValidationMessageFor(t => t.email)
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    @Html.TextBoxFor(t => t.Name, new { placeholder = "Họ tên ...", @class = "form-control" })
                                                    @Html.ValidationMessageFor(t => t.Name)
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    @Html.TextBoxFor(t => t.passWord, new { placeholder = "Mật khẩu ...", @class = "form-control", @type = "password" })
                                                    @Html.ValidationMessageFor(t => t.passWord)
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    @Html.TextBoxFor(t => t.confirmPassword, new { placeholder = "Nhập lại mật khẩu ...", @class = "form-control", @type = "password" })
                                                    @Html.ValidationMessageFor(t => t.confirmPassword)
                                                </div>
                                            </div>
                                        </div>

                                    }
                                    <div class="mt-3 position-relative form-check">
                                        <input name="check" id="exampleCheck" type="checkbox" class="form-check-input"><label for="exampleCheck" class="form-check-label">
                                            Đồng ý <a href="javascript:void(0);">
                                                điều khoản và điều kiện
                                            </a> của chúng tôi.
                                        </label>
                                    </div>
                                    <div class="divider row"></div>
                                    <h6 class="mb-0">Bạn đã có tài khoản? <a href="javascript:void(0);" class="text-primary">Đăng nhập ngay</a> | <a href="javascript:void(0);" class="text-primary">Quên mật khẩu</a></h6>
                                </div>
                                <div class="modal-footer d-block text-center">
                                    <button type="submit" class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg">Đăng ký</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/SignUp/assets/scripts/main.07a59de7b920cd76b874.js"></script>
</body>
</html>
