@model WebBanDienThoai.Models.User_Role

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2>Chi tiết người dùng</h2>

<div>
   
    <hr />
    <dl class=" dl-horizontal">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matkhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matkhau)
        </dd>
        <dt class = "col-sm-2">
            Tên quyền        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenQuyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
      
    </dl>
</div>
<p>
    <button class="btn-primary"> @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaNguoiDung }, new { @style = "color:white;" }) </button>
</p>

