<div class="app-sidebar-wrapper">
    <div class="app-sidebar sidebar-shadow">
        <div class="app-header__logo">
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="" class="logo-src"></a>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
        <div class="scrollbar-sidebar scrollbar-container">
            <div class="app-sidebar__inner">
                <ul class="vertical-nav-menu">
                    <li class="app-sidebar__heading">Quản lí sản phẩm</li>
                    <li class="mm-active">
                        
                        <ul class="mm-show">
                            @* class="mm-active" *@
                            <li><a href="@Url.Action("Index", "TSps")">Sản phẩm</a></li>
                            <li><a href="@Url.Action("Total", "TSps")">Thống kê</a></li>
                            <li><a href="@Url.Action("Index", "THoaDonNhaps")">Hóa đơn nhập</a></li>
                            <li><a href="@Url.Action("Index", "THoaDonBans")">Hóa đơn xuất</a></li>
                            <li><a href="@Url.Action("Index","THangs")">Danh mục hãng</a></li>

                            @*
                            <li><a href="helpdesk-dashboard.html">Helpdesk</a></li>
                            <li><a href="monitoring-dashboard.html">Monitoring</a></li>
                            <li><a href="crypto-dashboard.html">Cryptocurrency</a></li>
                            <li><a href="pm-dashboard.html">Project Management</a></li>
                            <li><a href="statistics-dashboard.html">Statistics</a></li> *@
                        </ul>
                    </li>
                    <li class="app-sidebar__heading">Quản lí tài khoản</li>
                    <li class="mm-active">

                        <ul class="mm-show">
                            <li><a href="@Url.Action("Index","TKhachHangs")">Danh mục khách hàng</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
